:root {
    font-size: 5vmin;
}




html, body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
}




* {
    box-sizing: border-box;
}




@import "components/App";
@import "components/Clock";